{# Title block start #}    
{% block title %}
<tr>
    <td colspan="2">         
        <table width="600" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
                <tr>
                    <td width="20"><img width="20" border="0" height="20" src="{{ asset('bundles/ixoilemail/images/spacer20.png') }}"></td>
                    <td width="600" style="text-align:left">

                        <p align="left"></p><h1 style="color:#FB6B5B;font-size:27px;width:600px;text-align:left; font-weight:normal;">{{ 'email.title.welcome'|trans({}, 'email') }}</h1><p></p>   
                    </td>
                </tr>
            </tbody></table>                        
    </td>
</tr>
{% endblock %}
{# Title block ends #}   