{# app/Resources/views/aside.html.twig #}
{% extends '::Layout/layout.html.twig' %}

{% block body_container %}
    <div class="container aside-xxl">
        <div class="content m-t">
            {% block body_content %}{% endblock %}
        </div>
    </div>
{% endblock %}