{% trans_default_domain "core" %}

<div class="modal fade" id="confirmDelete"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title" id="myModalLabel"> </h4>
            </div>
            <div class="modal-body">
                <p> </p>
            </div>
            <div class="modal-footer">
                {% block dialog_buttons %}
                      <button type="button" class="btn btn-default" data-dismiss="modal"> {{ 'button.title.close'|trans }} </button>
                      <button type="button" class="btn btn-danger" id="confirm" > {{ 'button.title.delete'| trans }} </button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
