{% extends "IxoilEmailBundle::mail.layout.html.twig" %}
{# content block start #}    
{% block content %}

    <p align="left" style="color:#625454; margin-bottom:10px;">{{ 'email.account.accept'|trans({}, 'email') }}</p>
                   
{% endblock%}
{# content block ends #}